body {
    padding: 0;
    margin: 0;
    background-color: rgba(192, 165, 9, 0.438);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 auto;
    padding: 35px;
    color: rgb(88, 88, 83);
}

#description-task {
    width: 100%;
    height: 25px;
    font-size: 14px;
    padding: 7px;
    color: rgb(82, 80, 80);
    margin-bottom: 15px;
    border: 1px solid rgba(135, 194, 233, 0.507);
    box-shadow: 3px 3px 3px rgba(105, 151, 182, 0.753);
    border-radius: 15px;
    outline: none;
    background-color: rgba(135, 194, 233, 0.507);
}

#add-task-btn {
    font-size: 20px;
    padding: 10px 35px;
    max-width: 150px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 3px 3px 3px rgb(68, 67, 67);
    background-color: rgb(233, 177, 177);
    transition: all .3s;
}

#add-task-btn:active {
    transform: translate(1px, 4px);
    transition: all .3s;
    background-color: rgb(197, 150, 150);
}

#add-task-btn:hover {
    transform: translate(1px, 1px);
    transition: all .3s;
}

.todos {
    display: flex;
    flex-direction: column;
}

.todos-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.todo-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: rgba(190, 235, 232, 0.986);
    margin-bottom: 10px;
    border-radius: 10px;
}

.todo-item.checked {
    opacity: 0.5;
}

.btn-delete {
    background-color: rgb(241, 223, 223);
    border: none;
    border-radius: 7px;
    padding: 7px 15px;
    cursor: pointer;
    box-shadow: 3px 3px 3px rgb(185, 171, 171);
    transition: all .3s;
}

.btn-delete:active {
    transform: translate(1px, 4px);
    transition: all .3s;
}

.btn-delete:hover {
    transition: all .3s;
    background-color: rgb(207, 192, 192);
    transform: translate(1px, 1px);
}